# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.db-shm
*.opendb
*.db-wal
TD5-A21-Fichiers/.vs/ProjetTD5/v16/.suo
*.ipch
*.user
*.tlog
*.pdb
*.log
*.recipe
*.txt
TD5-A21-Fichiers/couveture2021-11-16_22_08_36.56.coverage
TD5-A21-Fichiers/couveture2021-11-16_22_20_01.38.coverage
TD5-A21-Fichiers/couveture2021-11-16_22_25_43.04.coverage
*.exp
